=begin
#EVE Swagger Interface

#An OpenAPI for EVE Online

OpenAPI spec version: 0.4.5

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module Esi
  class SearchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Search on a string
    # Search for entities that match a given sub-string.  ---  Alternate route: `/v3/characters/{character_id}/search/`   ---  This route is cached for up to 3600 seconds
    # @param categories Type of entities to search for
    # @param character_id An EVE character ID
    # @param search The string to search on
    # @param [Hash] opts the optional parameters
    # @option opts [String] :datasource The server name you would like data from (default to tranquility)
    # @option opts [String] :language Search locale (default to en-us)
    # @option opts [BOOLEAN] :strict Whether the search should be a strict match (default to false)
    # @option opts [String] :token Access token to use, if preferred over a header
    # @option opts [String] :user_agent Client identifier, takes precedence over headers
    # @option opts [String] :x_user_agent Client identifier, takes precedence over User-Agent
    # @return [CharacterSearchResult]
    def character_search_by_string(categories, character_id, search, opts = {})
      data, _status_code, _headers = character_search_by_string_with_http_info(categories, character_id, search, opts)
      return data
    end

    # Search on a string
    # Search for entities that match a given sub-string.  ---  Alternate route: &#x60;/v3/characters/{character_id}/search/&#x60;   ---  This route is cached for up to 3600 seconds
    # @param categories Type of entities to search for
    # @param character_id An EVE character ID
    # @param search The string to search on
    # @param [Hash] opts the optional parameters
    # @option opts [String] :datasource The server name you would like data from
    # @option opts [String] :language Search locale
    # @option opts [BOOLEAN] :strict Whether the search should be a strict match
    # @option opts [String] :token Access token to use, if preferred over a header
    # @option opts [String] :user_agent Client identifier, takes precedence over headers
    # @option opts [String] :x_user_agent Client identifier, takes precedence over User-Agent
    # @return [Array<(CharacterSearchResult, Fixnum, Hash)>] CharacterSearchResult data, response status code and response headers
    def character_search_by_string_with_http_info(categories, character_id, search, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SearchApi.character_search_by_string ..."
      end
      # verify the required parameter 'categories' is set
      fail ArgumentError, "Missing the required parameter 'categories' when calling SearchApi.character_search_by_string" if categories.nil?
      if categories.length < 1
        fail ArgumentError, 'invalid value for "categories" when calling SearchApi.character_search_by_string, number of items must be greater than or equal to 1.'
      end

      # verify the required parameter 'character_id' is set
      fail ArgumentError, "Missing the required parameter 'character_id' when calling SearchApi.character_search_by_string" if character_id.nil?
      # verify the required parameter 'search' is set
      fail ArgumentError, "Missing the required parameter 'search' when calling SearchApi.character_search_by_string" if search.nil?
      if search.to_s.length < 3
        fail ArgumentError, 'invalid value for "search" when calling SearchApi.character_search_by_string, the character length must be great than or equal to 3.'
      end

      if opts[:'datasource'] && !['tranquility', 'singularity'].include?(opts[:'datasource'])
        fail ArgumentError, 'invalid value for "datasource", must be one of tranquility, singularity'
      end
      if opts[:'language'] && !['en-us', 'de', 'fr', 'ru', 'ja', 'zh'].include?(opts[:'language'])
        fail ArgumentError, 'invalid value for "language", must be one of en-us, de, fr, ru, ja, zh'
      end
      # resource path
      local_var_path = "/characters/{character_id}/search/".sub('{format}','json').sub('{' + 'character_id' + '}', character_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'categories'] = @api_client.build_collection_param(categories, :csv)
      query_params[:'search'] = search
      query_params[:'datasource'] = opts[:'datasource'] if !opts[:'datasource'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'strict'] = opts[:'strict'] if !opts[:'strict'].nil?
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?
      query_params[:'user_agent'] = opts[:'user_agent'] if !opts[:'user_agent'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-User-Agent'] = opts[:'x_user_agent'] if !opts[:'x_user_agent'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['evesso']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CharacterSearchResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#character_search_by_string\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search on a string
    # Search for entities that match a given sub-string.  ---  Alternate route: `/v2/search/`   ---  This route is cached for up to 3600 seconds
    # @param categories Type of entities to search for
    # @param search The string to search on
    # @param [Hash] opts the optional parameters
    # @option opts [String] :datasource The server name you would like data from (default to tranquility)
    # @option opts [String] :language Search locale (default to en-us)
    # @option opts [BOOLEAN] :strict Whether the search should be a strict match (default to false)
    # @option opts [String] :user_agent Client identifier, takes precedence over headers
    # @option opts [String] :x_user_agent Client identifier, takes precedence over User-Agent
    # @return [GeneralSearchResult]
    def search_by_string(categories, search, opts = {})
      data, _status_code, _headers = search_by_string_with_http_info(categories, search, opts)
      return data
    end

    # Search on a string
    # Search for entities that match a given sub-string.  ---  Alternate route: &#x60;/v2/search/&#x60;   ---  This route is cached for up to 3600 seconds
    # @param categories Type of entities to search for
    # @param search The string to search on
    # @param [Hash] opts the optional parameters
    # @option opts [String] :datasource The server name you would like data from
    # @option opts [String] :language Search locale
    # @option opts [BOOLEAN] :strict Whether the search should be a strict match
    # @option opts [String] :user_agent Client identifier, takes precedence over headers
    # @option opts [String] :x_user_agent Client identifier, takes precedence over User-Agent
    # @return [Array<(GeneralSearchResult, Fixnum, Hash)>] GeneralSearchResult data, response status code and response headers
    def search_by_string_with_http_info(categories, search, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SearchApi.search_by_string ..."
      end
      # verify the required parameter 'categories' is set
      fail ArgumentError, "Missing the required parameter 'categories' when calling SearchApi.search_by_string" if categories.nil?
      if categories.length < 1
        fail ArgumentError, 'invalid value for "categories" when calling SearchApi.search_by_string, number of items must be greater than or equal to 1.'
      end

      # verify the required parameter 'search' is set
      fail ArgumentError, "Missing the required parameter 'search' when calling SearchApi.search_by_string" if search.nil?
      if search.to_s.length < 3
        fail ArgumentError, 'invalid value for "search" when calling SearchApi.search_by_string, the character length must be great than or equal to 3.'
      end

      if opts[:'datasource'] && !['tranquility', 'singularity'].include?(opts[:'datasource'])
        fail ArgumentError, 'invalid value for "datasource", must be one of tranquility, singularity'
      end
      if opts[:'language'] && !['en-us', 'de', 'fr', 'ru', 'ja', 'zh'].include?(opts[:'language'])
        fail ArgumentError, 'invalid value for "language", must be one of en-us, de, fr, ru, ja, zh'
      end
      # resource path
      local_var_path = "/search/".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'categories'] = @api_client.build_collection_param(categories, :csv)
      query_params[:'search'] = search
      query_params[:'datasource'] = opts[:'datasource'] if !opts[:'datasource'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'strict'] = opts[:'strict'] if !opts[:'strict'].nil?
      query_params[:'user_agent'] = opts[:'user_agent'] if !opts[:'user_agent'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-User-Agent'] = opts[:'x_user_agent'] if !opts[:'x_user_agent'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GeneralSearchResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#search_by_string\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
